<h2>Wines</h2>
<ul>
  <% @wines.each do |wine| %>
      <li style="padding-bottom: 5px;">
        <strong><%= wine.name %></strong>: A <%= wine.varietal %> produced by <%= wine.winery %>.
        <br />For more info, <%= link_to('smell the cork', wine) %>.
      </li>
  <% end %>
</ul>
<%= paginate @wines %>