<!--
The index page
must have a link or button to create new wines
-->
<h1><%= image_tag "bottle.small.png", :align=> "left" %> Quit Yer' Whinin'</h1>
<h2>Wines</h2>

<ul>
  <% @wines.each do |wine| %>
      <li>
        <strong><%= wine.name %></strong> is a <%= wine.varietal.downcase %> produced by <%= wine.winery %>.  For more info, <%= link_to('smell the cork', wine) %>.
      </li>
  <% end %>
</ul>