<h1>Quit Yer' Whinin'</h1>
<h2>Wines</h2>
<ol>
  <% @wines.each do |wine| %>
    <p>
      <h2><%= wine.name %></h2>
      <%= wine.name %> is a <%= wine.varietal.downcase %> produced by <%= wine.winery %>.  For more info, <%= link_to('smell the cork', wine) %>.
    </p>
  <% end %>
</ol>