<!--
The show page
must have a link to edit the wine
must have a button to delete the wine
-->
<h1><%= image_tag "bottle.small.png", :align=> "left" %> Quit Yer' Whinin'</h1>
<h2><%= link_to 'Wines', wines_path %> -  <%= @wine.name %></h2>

<article class="wine">
  <header>
    <p><label>Name:</label> <%= @wine.name %></p>
    <p><label>Year:</label> <%= @wine.year %></p>
    <p><label>Winery:</label> <%= @wine.winery %></p>
    <p><label>Country:</label> <%= @wine.country %></p>
    <p><label>Varietal:</label> <%= @wine.varietal %></p>
  </header>
</article>