<h2><%= link_to 'Wines', wines_path %> -  <%= @wine.name %></h2>

<article class="wine">
  <header>
    <p><label>Name:</label> <%= @wine.name %></p>
    <p><label>Year:</label> <%= @wine.year %></p>
    <p><label>Winery:</label> <%= @wine.winery %></p>
    <p><label>Country:</label> <%= @wine.country %></p>
    <p><label>Varietal:</label> <%= @wine.varietal %></p>
  </header>
</article>

<p>
  Read all
  <%= link_to pluralize(@wine.log_entries.size, 'log entry'),
              wine_log_entries_path(@wine) %>
  |
  <%= link_to 'Edit This Wine', edit_wine_path(@wine) %>
  |
  <%= link_to 'View All Wines', wines_path %>

  <%= button_to 'Delete This Wine', @wine,
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this fancy wine?' } %>
</p>